.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  padding: 20px 0px;
  overflow: hidden;
}

.pagination {
  padding: 10px;
  height: 30px;
  width: 80%;
  justify-content: end;
  display: flex;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 100%;
  overflow: auto;
  width: auto;
}

.table-container {
  height: 100%;
  width: 100%;
  max-height: calc(100vh - 88px);
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2ebeb;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #efab73;
  color: white;
}

.btn {
  margin: 0px 5px;
  border: none;
  border-radius: 2px;
  min-width: 20px;
}

.dropdown {
  margin: 0px 10px;
  width: 40px;
}
